{% extends "base.html" %}


{% block title %}About &#8226; {{ block.super }}{% endblock %}


{% block content %}

<section class="sp-sm-4">
    <h1>About</h1>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Description</h2>

    <p><strong>HTML</strong> and <strong>CSS</strong> are the two dominant languages of the web and the backbone of all websites. Having a proficient understanding of HTML and CSS provides the ability to build and maintain websites. In this course, learn HTML and CSS elements, structures, and design patterns.</p>

    <p>Study begins with the fundamentals of <strong>front-end web development</strong>, then moves into more advanced topics, including <strong>semantic front-end coding</strong> techniques and practices, CSS3 transitions, transforms and animations, building mobile responsive pages with CSS, media queries, and more.</p>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Questions</h2>

    <ul>
        <li>How does one build and maintain websites using the HTML and CSS computer languages?</li>
        <li>What software programs and debugging tools does one use to create websites?</li>
        <li>What code and design patterns are required to create websites on mobile and tablet devices?</li>
    </ul>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Outcomes</h2>

    <p>Upon successful completion of this course, students will:</p>

    <ul>
        <li>Know how to write basic and advanced HTML and CSS</li>
        <li>Understand how to control and display websites on mobile, tablet, and desktop devices</li>
        <li>Apply hard technical skills in creative and technical challenges</li>
        <li>Create website code as a foundation for later advanced computer programming languages</li>
    </ul>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Instruction</h2>

    <p>Students will learn material daily in an interactive format:</p>

    <ol>
        <li>Instructor and students will review last homework assignment publicly</li>
        <li>Students will take a short quiz over assignment material</li>
        <li>Instructor will present new material</li>
        <li>Students will form small groups to read and apply the material independently and help fellow classmates as necessary in a workshop format</li>
        <li>Instructor and teaching assistant will monitor the class to answer questions</li>
        <li>Students will receive homework assignments to practice lecture material</li>
    </ol>
</section>

<div class="sp-sm-2">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{% url "/index.html" %}">&larr; Home</a></li>
            <li class="next"><a href="{% url "/materials.html" %}">Materials &rarr;</a></li>
        </ul>
    </nav>
</div>

{% endblock %}