{% extends "base.html" %}


{% block title %}Assessment &#8226; {{ block.super }}{% endblock %}


{% block content %}

<section class="sp-sm-4">
    <h1>Assessment</h1>
</section>

<section class="sp-sm-2">
    <h2>Composition</h2>
    <p>The majority of a student&rsquo;s grade is composed of homework assignments. Assignments most closely reflect reality because students can use the web as a resource. The final is also fairly important, and is much like a long homework assignment. Grades are lastly composed of multiple-choice quizzes whose questions ask general course material.</p>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></td>
                        <th scope="col" class="text-right">Quantity</td>
                        <th scope="col" class="text-right">Percentage</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#assignments">Assignments</a></td>
                        <td class="text-right">13</td>
                        <td class="text-right">65%</td>
                    </tr>
                    <tr>
                        <td><a href="#quizzes">Quizzes</a></td>
                        <td class="text-right">3</td>
                        <td class="text-right">15%</td>
                    </tr>
                    <tr>
                        <td><a href="#final">Final project</a></td>
                        <td class="text-right">1</td>
                        <td class="text-right">20%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="sp-sm-4">
    <h2 id="assignments">Assignments</h2>
    <p>Students almost always receive at least one hour of homework each night. Students should vigilantly check the <a href="{% url "/schedule.html" %}">class schedule</a> for specific homework assignment details. The assignment before the last day is omitted for the purpose of working solely on the final project. Students should hand in assignments <strong>before 8:30 a.m. of the next class day</strong>.</p>
    <p>Students should create an <code>HTML CSS Honors</code> folder on their laptops that contains all of their assignments. The homework process is as follows:</p>
    <ol>
        <li>
            <p>Inside the <code>HTML CSS Honors</code> folder, students should create a new folder for the assignment in the format <code>firstname_lastname-assignment_X</code>, where:</p>
            <ul>
                <li><code>firstname</code> is the student&#8217;s first name</li>
                <li><code>lastname</code> is the student&#8217;s last name</li>
                <li><code>X</code> is the number of the assignment</li>
            </ul>
            <p>For example, Richard Cornish&#8217;s first assignment would be in a folder called <code>richard_cornish-assignment_1</code>.</p>
        </li>
        <li>
            <p>The new folder should contain the following files:</p>
            <ul>
                <li><code>index.html</code></li>
                <li><code>style.css</code></li>
            </ul>
            <p>The <code>index.html</code> file should link to the <code>style.css</code> file with the proper <code>&lt;link&gt;</code> tag.</p>
        </li>
        <li>
            <p>The student should create a <code>.zip</code> archive of the assignment from the folder.</p>
            <ul>
                <li>On Macs, <code>control</code> + click on the folder and click <code>Compress</code>.</li>
                <li>On Windows, right click on the folder, click <code>Send to</code>, and click <code>Compressed (zipped folder)</code>.</li>
            </ul>
            <p>Further help on creating <code>.zip</code> files are at <a href="https://support.apple.com/kb/PH19074?locale=en_US">Apple&rsquo;s website</a> and <a href="https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files">Microsoft&rsquo;s website</a>.</p>
        </li>
        <li>E-mail the <code>firstname_lastname-assignment_X.zip</code> as a file attachment to the instructor at <strong><a href="{% filter evade %}mailto:rich@htmlcsshonors.org{% endfilter %}">{% filter evade %}rich@htmlcsshonors.org{% endfilter %}</a></strong> before 8:30 a.m. of the next class day.</li>
    </ol>
</section>

<section class="sp-sm-4">
    <h2 id="quizzes">Quizzes</h2>
    <div class="sp-sm-2">
        <p>Students take a total of four quizzes, usually at the end of each week, to test what they learned during that particular week. Students are not allowed to consult any reference material while taking quizzes.</p>
    </div>
    <div class="sp-sm-2">
        <h3>Quiz 0 (pre-assessment)</h3>
        <p>Students take a pre-assessment &ldquo;quiz&rdquo; on the first day of class that that will determine how much existing knowledge they have about the course topics. Students are required to take the pre-assessment quiz, but the quiz is not graded.</p>
    </div>
    <div class="sp-sm-2">
        <h3>Quiz 3 (post-assessment)</h3>
        <p>Students take a post-assessment quiz identical to the pre-assessment quiz to determine how much they learned from the course. The post-assessment quiz is graded.</p>
    </div>
</section>

<section class="sp-sm-4">
    <h2 id="final">Final project</h2>

    <div class="sp-sm-2">
        <p>Students should create a portfolio website of their homework assignments and classroom experience.</p>
    </div>

    <div class="sp-sm-2">
        <h3>Overall</h3>
        <ul>
            <li>Website must have a homepage, about page, and contact page</li>
            <li>All webpages must be linked with a consistent navigation</li>
            <li>All webpages must have unique <code>&lt;title&gt;</code> and <code>&lt;h1&gt;</code> tags</li>
            <li>All pages must use HTML5 elements <code>&lt;header&gt;</code>, <code>&lt;section&gt;</code>, <code>&lt;article&gt;</code>, and <code>&lt;footer&gt;</code></li>
            <li>Website must have at least one Google font used</li>
            <li>Must be responsive with different appearances and optimizations for mobile, tablet, and desktop devices</li>
            <li>All pages must have a fair amount of style! (headers, paragraphs, tables, forms, etc.) I won&rsquo;t (and necessarily can&rsquo;t) tell you exactly how to style it, but I expect a fair amount of unique customization while also creating a usable, readable layout</li>
            <li>All style must be in an external stylesheet</li>
            <li>CSS does not need to be minified</li>
        </ul>
    </div>

    <div class="sp-sm-2">
    <h3>Homepage</h3>
    <ul>
        <li>Homepage must have an <code>&lt;h1&gt;</code> of &ldquo;HTML &amp; CSS Honors&rdquo;</li>
        <li>Homepage must describe in paragraphs (in a general, overall sense):
            <ol>
                <li>What you made in class</li>
                <li>What you learned in class</li>
                <li>What you enjoyed in class</li>
                <li>How you might use these skills in the future</li>
            </ol>
        </li>
        <li>Homepage must also have a table of assignments and hyperlink to each individual assignment</li>
        <li>Table of assignments must have a description of what you did in the assignment in your own words and <em>not the assignment text</em> (especially if you didn&rsquo;t get the assignment right)</li>
        <li>Table must include screenshots of at least five of the assignments</li>
        <li>Old assignments must be revised with minor and helpful improvements based on my notes</li>
        <li>Assignment 11 must link to the in-class exercise (if you attended) on Transforms instead of the Dropbox account assignment</li>
    </ul>
    </div>

    <div class="sp-sm-2">
    <h3>About</h3>
    <ul>
        <li>About page must have an <code>&lt;h1&gt;</code> of &ldquo;About&rdquo;</li>
        <li>About page must have a multi-paragraph bio of yourself</li>
        <li>About page must have a recent photo (from past year) of yourself</li>
        <li>Photo must be floated</li>
        <li>About page must have an <code>&lt;iframe&gt;</code> of the location of Northwestern University</li>
    </ul>
    </div>

    <div class="sp-sm-2">
    <h3>Contact</h3>
    <ul>
        <li>Contact page must have an <code>&lt;h1&gt;</code> of &ldquo;Contact&rdquo;</li>
        <li>Contact page must have your email address and hyperlinked</li>
        <li>Contact page must also have a contact form with name, email, URL, phone, and message fields</li>
        <li>Contact page button must go to another page saying the form doesn&rsquo;t work yet but that you are available by your email address and is hyperlinked</li>
    </ul>
    </div>

    <div class="alert alert-info">
        <p>Students should test their code&#8212;in particular, <strong>none</strong> of a project&rsquo;s URLs should have <code>file:///</code> in them, which will cause them to fail elsewhere.</p>
    </div>
</section>

<section class="sp-sm-4">
    <h2 id="conferences">Parent-teacher conferences</h2>
    <p>The parent(s)/guardian(s) of students will meet with the instructor for 10 minutes on the last day of the session after class is dismissed early. The instructor will review the student&rsquo;s performance and behavior in qualitative language. The student&rsquo;s assignments and final project can be shared, and the instructor can provide recommendations for future coursework in CTD, but not in specific educational institutions. Grades are not discussed.</p>
</section>

<section class="sp-sm-4">
    <h2 id="evaluations">Student evaluations</h2>
    <p>In addition to receiving grades, the parent(s)/guardian(s) of students also receive an evaluation at the end of the session. Student evaluations qualitatively describe a student&rsquo;s level of participation, engagement, interest, and overall behavior during the session at a level more in-depth than in the parent-teacher conference. It also contains recommendations for future coursework in CTD and elsewhere online.</p>
    <p>Additionally, the parent(s)/guardian(s) of students whose grades are below 70% at the midpoint of the session will receive a mid-term evaluation warning about the struggles of the student.</p>
</section>

<section class="sp-sm-4">
    <h2 id="course">Course evaluations</h2>
    <p>Students complete a brief survey on the last day of the session asking them for their thoughts and opinions of the course, instructors, and CTD in general.</p>
</section>

<section class="sp-sm-4">
    <h2 id="scale">Grading scale</h2>
    <p>Grading follows discrete evaluation that is a <a href="https://en.wikipedia.org/wiki/Academic_grading_in_the_United_States">standard in U.S. education</a>.</p>
    <p>A final grade between an A+ and a C&#8722; is a passing grade, and will earn the student one high school credit.</p>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Grade</th>
                        <th scope="col" class="text-right">Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+</td>
                        <td class="text-right">97&#8211;100%</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td class="text-right">93&#8211;96%</td>
                    </tr>
                    <tr>
                        <td>A&#8722;</td>
                        <td class="text-right">90&#8211;92%</td>
                    </tr>
                    <tr>
                        <td>B+</td>
                        <td class="text-right">87&#8211;89%</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td class="text-right">83&#8211;86%</td>
                    </tr>
                    <tr>
                        <td>B&#8722;</td>
                        <td class="text-right">80&#8211;82%</td>
                    </tr>
                    <tr>
                        <td>C+</td>
                        <td class="text-right">77&#8211;79%</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td class="text-right">73&#8211;76%</td>
                    </tr>
                    <tr>
                        <td>C&#8722;</td>
                        <td class="text-right">70&#8211;72%</td>
                    </tr>
                    <tr>
                        <td>D+</td>
                        <td class="text-right">67&#8211;69%</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td class="text-right">63&#8211;66%</td>
                    </tr>
                    <tr>
                        <td>D&#8722;</td>
                        <td class="text-right">60&#8211;62%</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td class="text-right">&lt; 60%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="sp-sm-2">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{% url "/schedule.html" %}">&larr; Schedule</a></li>
            <li class="next"><a href="{% url "/instructors.html" %}">Instructors &rarr;</a></li>
        </ul>
    </nav>
</div>

{% endblock %}