{% extends "base.html" %}


{% block title %}Assessment &#8226; {{ block.super }}{% endblock %}


{% block content %}

<section class="sp-sm-4">
    <h1>Assessment</h1>
    <p>Students in the <strong>Spectrum</strong> program are assessed because the course is a Credit Intensive Honors course, which makes it eligible for high school credit.</p>
    <p>Students in the <strong>Apogee</strong> program are not assessed.</p>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Pre-assessment</h3>
    <p>Students will receive a pre-assessment “quiz” that will determine how much existing knowledge they have about the course topics. Students will receive full quiz credit for merely taking it.</p>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Grading scale</h3>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Grade</th>
                        <th scope="col" class="text-right">Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A+</td>
                        <td class="text-right">97&#8211;100%</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td class="text-right">93&#8211;96%</td>
                    </tr>
                    <tr>
                        <td>A&#8722;</td>
                        <td class="text-right">90&#8211;92%</td>
                    </tr>
                    <tr>
                        <td>B+</td>
                        <td class="text-right">87&#8211;89%</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td class="text-right">83&#8211;86%</td>
                    </tr>
                    <tr>
                        <td>B&#8722;</td>
                        <td class="text-right">80&#8211;82%</td>
                    </tr>
                    <tr>
                        <td>C+</td>
                        <td class="text-right">77&#8211;79%</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td class="text-right">73&#8211;76%</td>
                    </tr>
                    <tr>
                        <td>C&#8722;</td>
                        <td class="text-right">70&#8211;72%</td>
                    </tr>
                    <tr>
                        <td>D+</td>
                        <td class="text-right">67&#8211;69%</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td class="text-right">63&#8211;66%</td>
                    </tr>
                    <tr>
                        <td>D&#8722;</td>
                        <td class="text-right">60&#8211;62%</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td class="text-right">&lt; 60%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Breakdown of final grade</h2>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</td>
                        <th scope="col" class="text-right">Quantity</td>
                        <th scope="col" class="text-right">Percentage</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Assignments</td>
                        <td class="text-right">13</td>
                        <td class="text-right">65%</td>
                    </tr>
                    <tr>
                        <td>Quizzes</td>
                        <td class="text-right">15</td>
                        <td class="text-right">15%</td>
                    </tr>
                    <tr>
                        <td>Final</td>
                        <td class="text-right">1</td>
                        <td class="text-right">20%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="sp-sm-4">
    <h2 class="h3">Post-assessment</h3>
    <p>Students will receive a post-assessment quiz identical to the pre-assessment quiz to determine how much students learned from the course. The post-assessment quiz will include additional questions seeking feedback about the performance of the instructor and teaching assistant.</p>
</section>

<div class="sp-sm-4">
    <nav>
        <ul class="pager">
            <li class="next"><a href="{% url "/schedule.html" %}">Schedule &rarr;</a></li>
        </ul>
    </nav>
</div>

{% endblock %}