{% extends "base.html" %}


{% block title %}Blog &#8226; {{ block.super }}{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-10">

            <div class="row">
                <div class="col-sm-9 col-md-10 col-md-offset-2">
                    <div class="sp-sm-2">
                        <h1>Blog</h1>
                    </div>
                </div>
            </div>

            {% for post in posts %}
            <div class="row">
                <div class="col-sm-9 col-md-8 col-md-push-2">
                    <h2><a href="{% url post.page.link_url %}">{{ post.title }}</a></h2>
                    <p><small>{{ post.date|date:"j F Y" }}</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-md-8 col-md-push-2">
                    <div class="sp-sm-2">
                        {{ post.body|truncatewords_html:80}}
                        <p><a href="{% url post.page.link_url %}" class="btn btn-default">Read more</a></p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 col-md-pull-8">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                            <div class="sp-sm-2">
                                {% with post.author|slugify as author_slug %}
                                {% with '/static/img/instructors-'|add:author_slug|add:'.min.jpg' as author_image %}
                                <img src="{% static author_image %}" class="img-responsive img-circle" alt="{{ post.author }}">
                                {% endwith %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}