{% extends "base.html" %}


{% block content %}

<h1>Description</h1>

<p><strong>HTML</strong> and <strong>CSS</strong> are the two dominant languages of the web and the backbone of all websites. Having a proficient understanding of HTML and CSS provides the ability to build and maintain websites. In this course, learn HTML and CSS elements, structures, and design patterns.</p>

<p>Study begins with the fundamentals of <strong>front-end web development</strong>, then moves into more advanced topics, including <strong>semantic front-end coding</strong> techniques and practices, CSS3 transitions, transforms and animations, building mobile responsive pages with CSS, media queries, and more.</p>

<nav>
    <ul class="pager">
        <li class="next"><a href="{% url "/materials.html" %}">Materials &rarr;</a></li>
    </ul>
</nav>

{% endblock %}