{% extends "base.html" %}


{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="sp-sm-4">

                <h1>HTML &amp; CSS Honors</h1>

                <p><strong>HTML &amp; CSS Honors</strong> is the course website for the &ldquo;HTML &amp; CSS Honors&rdquo; and &ldquo;Web Design: Introduction to HTML &amp; CSS&rdquo; summer courses that teach academically talented students how to create websites in the computer languages of HTML and CSS.</p>

                <p>Both courses are part of the <a href="http://www.ctd.northwestern.edu/program/spectrum">Spectrum</a> and <a href="http://www.ctd.northwestern.edu/program/apogee">Apogee</a> <a href="http://www.ctd.northwestern.edu/program_type/summer-programs">summer programs</a> for gifted students offered by the <a href="http://www.ctd.northwestern.edu/">Center for Talent Development</a>, a non-profit center within the <a href="https://www.sesp.northwestern.edu/">School of Education and Social Policy</a> at <a href="http://www.northwestern.edu/">Northwestern University</a>.</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="sp-sm-2">
                <h2>Sessions</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="sp-sm-4">

                <h3>Spectrum</h3>
                <div class="cell">
                    <p class="lead">June 26&#8211;July 15, 2016</p>
                    <p class="lead">8:30 a.m.&#8211;2:45 p.m.</p>
                </div>
                <div class="cell">
                    <h4>Title</h4>
                    <p>HTML &amp; CSS Honors</p>
                </div>
                <div class="cell">
                    <h4>Grades</h4>
                    <p>7th&#8211;8th</p>
                </div>
                <div class="cell">
                    <h4>Location</h4>
                    <address><a href="https://www.google.com/maps/?q=2145+Sheridan+Rd,+Evanston,+IL+60208">Technological Institute<br>
                    2145 Sheridan Road<br>
                    Evanston, IL 60208</a></address>
                    <p>(<a href="http://www.mccormick.northwestern.edu/contact/maps.html#tech">Building map</a>)</p>
                </div>
                <div class="cell">
                    <h4>Type</h4>
                    <p>Credit Intensive Honors course</p>
                </div>
                <div class="cell">
                    <h4>Website</h4>
                    <p><a href="http://www.ctd.northwestern.edu/program/spectrum">ctd.northwestern.edu/program/spectrum</a></p>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="sp-sm-4">

                <h3>Apogee</h3>
                <div class="cell">
                    <p class="lead">July 17&#8211;August 5, 2016</p>
                    <p class="lead">8:30 a.m.&#8211;2:45 p.m.</p>
                </div>
                <div class="cell">
                    <h4>Title</h4>
                    <p>Web Design: Introduction to HTML &amp; CSS</p>
                </div>
                <div class="cell">
                    <h4>Grades</h4>
                    <p>4th&#8211;6th</p>
                </div>
                <div class="cell">
                    <h4>Location</h4>
                    <address><a href="https://www.google.com/maps/?q=2145+Sheridan+Rd,+Evanston,+IL+60208">Technological Institute<br>
                    2145 Sheridan Road<br>
                    Evanston, IL 60208</a></address>
                    <p>(<a href="http://www.mccormick.northwestern.edu/contact/maps.html#tech">Building map</a>)</p>
                </div>
                <div class="cell">
                    <h4>Type</h4>
                    <p>Enrichment Intensive course</p>
                </div>
                <div class="cell">
                    <h4>Website</h4>
                    <p><a href="http://www.ctd.northwestern.edu/program/apogee">ctd.northwestern.edu/program/apogee</a></p>
                </div>

            </div>
            <div class="sp-sm-4">

                <nav>
                    <ul class="pager">
                        <li class="next"><a href="{% url "/description.html" %}">Description &rarr;</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
{% endblock %}