{% extends "base.html" %}


{% block title %}Instructors &#8226; {{ block.super }}{% endblock %}


{% block content_container %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-10">

            <div class="row">
                <div class="col-sm-9 col-md-10 col-md-offset-2">
                    <div class="sp-sm-6">
                        <h1>Instructors</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
                    <div class="sp-sm-2">
                        <h2>Richard Cornish</h2>
                        <h3>Instructor</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                            <div class="sp-sm-2">
                                <img src="{% static '/static/img/instructors-cornish.jpg' %}" class="img-responsive img-circle" alt="Richard Cornish">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-8">

                    <div class="sp-sm-2">

                        <p>Richard Cornish is the instructor of HTML &amp; CSS Honors.</p>

                        <p>Rich is a product designer at <a href="https://www.nexthealthchoice.com/">Next Health Choice</a>, a digital healthcare startup dedicated to improving and automating the medical procedure experience for patients. His skills cover user experience, user interface design, and interactive prototyping. He also heads an independent design consultancy. His clients include <a href="https://en.wikipedia.org/wiki/Barack_Obama_presidential_campaign,_2008">Obama for America</a>, <a href="https://www.everyblock.com/">EveryBlock</a>, <a href="http://www.tribune.com/">Tribune Company</a>, and <a href="http://www.princetonreview.com/">The Princeton Review</a>.</p>

                        <p>Rich earned his Master of Science and Bachelor of Science degrees in journalism from the <a href="http://illinois.edu/">University of Illinois at Urbana-Champaign</a>, where he taught design to undergraduate students.</p>

                        <p>He is thrilled to empower and inspire young people to use technology to create things that will have a positive impact on others.</p>

                    </div>
                    <div class="sp-sm-6">
                        <p><a href="mailto:rich@htmlcsshonors.org" class="btn btn-default">rich@htmlcsshonors.org</a></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
                    <div class="sp-sm-2">
                        <h2>Howard Robinson</h2>
                        <h3>Teaching assistant</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0">
                            <div class="sp-sm-2">
                                <img src="{% static '/static/img/instructors-robinson.jpg' %}" class="img-responsive img-circle" alt="Howard Robinson">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-8">

                    <div class="sp-sm-2">

                        <p>Howard Robinson is the teaching assistant of HTML &amp; CSS Honors.</p>

                        <p>Howard is an anthropology and religious studies student at <a href="http://www.depauw.edu/">DePauw University</a>, where his interest in technology lets him create the websites of student organizations and groups. Howard graduated top five in his high school class and was winner of the <a href="https://www.possefoundation.org/">Four-Year Full Tuition Scholarship Posse</a> for DePauw. He was recipient of the Enough Chicago Scholarship and his writing has been published in <a href="http://www.truestarfoundation.org/">TrueStar Magazine</a>.</p>

                        <p>Howard hopes to learn about new technology, new methods of teaching, and what it takes to teach technology in a modern American institution. He is excited to help make the learning experience for students as engrossing and worthwhile as possible.</p>

                        <p>He loves working with robotics and gaming on Xbox One and PlayStation 4.</p>

                    </div>
                    <div class="sp-sm-6">
                        <p><a href="mailto:howard@htmlcsshonors.org" class="btn btn-default">howard@htmlcsshonors.org</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}