{% extends "base.html" %}


{% block title %}Materials &#8226; {{ block.super }}{% endblock %}


{% block content %}

<h1>Materials</h1>

<div class="sp-sm-3">
    <h2 class="h3">Computer</h2>
    <p>A laptop computer. Mac OS X, Linux, or Windows. Not a tablet.</p>
</div>

<div class="sp-sm-3">
    <h2 class="h3">Browser</h2>
    <p>A web browser. <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>, or <a href="http://www.apple.com/safari/">Apple Safari</a>. Avoid <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>.</p>
</div>

<div class="sp-sm-3">
    <h2 class="h3">Editor</h2>
    <p>A plain text editor. <a href="https://atom.io/">Atom</a> is a free and open-source text and source code editor. Not Microsoft Word or other word processor.</p>
</div>

<nav>
    <ul class="pager">
        <li class="next"><a href="{% url "/schedule.html" %}">Schedule &rarr;</a></li>
    </ul>
</nav>

{% endblock %}