{% extends "base.html" %}


{% block title %}Materials &#8226; {{ block.super }}{% endblock %}


{% block content %}

<section class="sp-sm-4">
    <h1>Materials &amp; Resources</h1>
</section>

<section class="sp-sm-4">

    <h2 class="h3">Materials</h2>

    <h3 class="h4">Laptop computer</h3>
    <p>Mac OS X, Linux, or Windows&#8212;not a tablet</p>

    <h3 class="h4">Web browser</h3>
    <p><a href="https://www.google.com/chrome/browser/desktop/">Chrome</a>, <a href="http://www.apple.com/safari/">Safari</a>, or <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>&#8212;not <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a></p>

    <h3 class="h4">Text editor</h3>
    <p><a href="https://atom.io/">Atom</a> is a free and open-source, plain text editor&#8212;not Microsoft Word</p>

</section>

<section class="sp-sm-4">

    <h2 class="h3">Resources</h2>

    <h3 class="h4"><a href="http://learn.shayhowe.com/">Learn to Code HTML &amp; CSS</a></h3>
    <p>Main course material on learning basic and advanced HTML and CSS</p>

    <h3 class="h4"><a href="https://codepen.io/">CodePen</a></h3>
    <p>Forum for sharing homework assignments; please <a href="https://codepen.io/signup/free">register</a> for a free account</p>

    <h3 class="h4"><a href="https://css-tricks.com"></a></h3>
    <p>Popular blog with up-to-date CSS techniques</p>

    <h3 class="h4"><a href="http://caniuse.com/">Can I Use?</a></h3>
    <p>Up-to-date compatibility feature charts</p>

    <h3 class="h4"><a href="https://fonts.google.com">Google Fonts</a></h3>
    <p>Free web fonts.</p>

    <h3 class="h4"><a href="http://stackoverflow.com">StackOverflow</a></h3>
    <p>Developer question-and-answer forum</p>

</section>

<div class="sp-sm-4">
    <nav>
        <ul class="pager">
            <li class="next"><a href="{% url "/assessment.html" %}">Assessment &rarr;</a></li>
        </ul>
    </nav>
</div>

{% endblock %}