{% extends "base.html" %}


{% block content %}

<h1>Materials</h1>

<section class="sp-sm-3">
    <h2 class="h4">Computer</h2>
    <p>A laptop computer. Mac, Windows, or Linux is fine. Not a tablet.</p>
</section>

<section class="sp-sm-3">
    <h2 class="h4">Web browser</h2>
    <p><a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>, or <a href="http://www.apple.com/safari/">Apple Safari</a>. Avoid <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>.</p>
</section>

<section class="sp-sm-3">
    <h2 class="h4">Text editor</h2>
    <p><a href="https://atom.io/">Atom</a> is a free and open-source text and source code editor for OS X, Linux, and Windows.</p>
</section>

<nav>
    <ul class="pager">
        <li class="next"><a href="{% url "/schedule.html" %}">Schedule &rarr;</a></li>
    </ul>
</nav>

{% endblock %}