{% extends "base.html" %}


{% block title %}Schedule &#8226; {{ block.super }}{% endblock %}


{% block content_container %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">

<div class="sp-sm-4">
    <h1>Schedule</h1>
</div>

<div class="sp-sm-4">
    <h2>Sessions</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>HTML &amp; CSS Honors</h3>
            <p>June 26&#8211;July 15, 2016<br>
            8:30 a.m.&#8211;2:45 p.m.</p>
            <address><a href="https://www.google.com/maps/?q=2120+Campus+Drive,+Evanston,+IL+60208">Annenberg Hall, Room 333<br>
            2120 Campus Drive<br>
            Evanston, IL 60208</a></address>
            <p class="small">Tuesday and Thursday night study sessions are in same location.</p>
        </div>
        <div class="col-md-6">
            <h3>Web Design</h3>
            <p>July 17&#8211;August 5, 2016<br>
            8:30 a.m.&#8211;2:45 p.m.</p>
            <address><a href="https://www.google.com/maps/?q=2120+Campus+Drive,+Evanston,+IL+60208">Annenberg Hall, Room 333<br>
            2120 Campus Drive<br>
            Evanston, IL 60208</a></address>
        </div>
    </div>
</div>

<div class="sp-sm-4">
    <h2>Format</h2>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-right">Time</th>
                        <th scope="col">Activity</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-right">8:30&#8211;11:50 a.m.</th>
                        <td>
                            Take attendance<br>
                            Review last assignment<br>
                            Quiz (if on a Friday)<br>
                            Class lecture<br>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">12&#8211;12:50 p.m.</th>
                        <td>Lunch at <a href="https://www.google.com/maps/?q=2245+Sheridan+Road,+Evanston,+IL+60201">Sargent Residence Hall</a></td>
                    </tr>
                    <tr>
                        <th class="text-right">1&#8211;2:45 p.m.</th>
                        <td>
                            Class lecture (continued)<br>
                            Start homework assignment
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="sp-sm-4">
    <h2>Week 1</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Material</th>
                    <th scope="col">Assignment</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-date 2016-06-27 2016-07-18">
                    <th scope="row">Monday</th>
                    <td>First webpage</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Introductions</li>
                            <li>Pre-assessment &ldquo;quiz&rdquo;</li>
                            <li>Software, compatibility, developer tools</li>
                            <li><a href="http://codepen.io/richiec/professor/aZJbVz/">Day 1 CodePen lecture notes</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="https://www.google.com/chrome/browser/desktop/">Chrome</a></li>
                            <li><a href="https://atom.io/">Atom</a></li>
                            <li><a href="https://codepen.io/signup/free">CodePen</a></li>
                            <li><a href="http://learn.shayhowe.com/html-css/building-your-first-web-page/">Building Your First Web Page</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Read &ldquo;<a href="http://learn.shayhowe.com/html-css/building-your-first-web-page/">Building your first webpage</a>&rdquo;</li>
                            <li>Create a basic webpage and link to five different websites and link the webpage to a CSS reset</li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                        </ul>
                    </td>
                </tr>
                <tr class="row-date 2016-06-28 2016-07-19">
                    <th scope="row">Tuesday</th>
                    <td>HTML elements</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Elements, semantics, structure, hyperlinks of HTML5</li>
                            <li><a href="http://codepen.io/richiec/professor/WxprVr">Day 2 CodePen lecture notes</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/getting-to-know-html/">Getting to Know HTML</a></li>
                            <li><a href="http://html5doctor.com/element-index/">HTML5 Element Index</a></li>
                            <li><a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.pdf">HTML5 Element Flowchart</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Read &ldquo;<a href="http://learn.shayhowe.com/html-css/getting-to-know-html/">Getting to know HTML</a>&rdquo;</li>
                            <li>Create a semantic webpage out of the &ldquo;<a href="https://dl.dropboxusercontent.com/u/2066483/assignment_3-text.txt">Solar System News</a>.&rdquo; You <em>must</em> use <a href="https://dl.dropboxusercontent.com/u/2066483/assignment_3-elements.txt">these HTML5 elements</a>. CSS is optional.</li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                        </ul>
                    </td>
                </tr>
                <tr class="row-date 2016-06-29 2016-07-20">
                    <th scope="row">Wednesday</th>
                    <td>CSS selectors</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Cascade, specificity, selectors, classes, declarations of CSS3</li>
                            <li><a href="http://codepen.io/richiec/professor/OXpNLL">Day 3 CodePen lecture notes</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/getting-to-know-css/">Getting to know CSS</a></li>
                            <li><a href="http://www.standardista.com/wp-content/uploads/2012/01/specificity3.pdf">CSS SpeciFISHity</a></li>
                            <li><a href="https://dev.w3.org/html5/html-author/charref">Special characters list</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Read &ldquo;<a href="http://learn.shayhowe.com/html-css/getting-to-know-css/">Getting to know CSS</a>&rdquo;</li>
                            <li>Create a webpage with a linked CSS file. Webpage must contain different elements (of your choosing) with the following: 1 class, 2 classes, 3 classes, 1 ID. Use 10 different elements. Apply different CSS colors and font sizes to the elements of your choosing. Color examples must include named colors, hex values, and RGB values. Font size examples must include units of px, em, and %. Include 15 special characters.</li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                        </ul>
                    </td>
                </tr>
                <tr class="row-date 2016-06-30 2016-07-21">
                    <th scope="row">Thursday</th>
                    <td>Box model</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Margins, borders, paddings, backgrounds, gradients</li>
                            <li><a href="http://codepen.io/richiec/professor/aZJNoY">Day 4 CodePen lecture notes</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/opening-the-box-model/">Opening the Box Model</a></li>
                            <li><a href="http://learn.shayhowe.com/html-css/setting-backgrounds-and-gradients/">Setting Backgrounds &amp; Gradients</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Read &ldquo;<a href="http://learn.shayhowe.com/html-css/opening-the-box-model/">Opening the Box Model</a>&rdquo; and &ldquo;<a href="http://learn.shayhowe.com/html-css/setting-backgrounds-and-gradients/">Setting Backgrounds &amp; Gradients</a>&rdquo;</li>
                            <li>Create a webpage with a linked stylesheet. Webpage must have: 1 example of a solid background color, 1 example of a background image, 1 example of a linear gradient with two background colors, 1 example of a radial gradient with two background colors, and 1 example of a radial gradient background of the <a href="https://en.wikipedia.org/wiki/ROYGBIV">visible light spectrum</a></li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                            <li>Study for quiz</li>
                        </ul>
                    </td>
                </tr>
                <tr class="row-date 2016-07-01 2016-07-22">
                    <th scope="row">Friday</th>
                    <td>Typography</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Quiz</li>
                            <li>Text, fonts, lists</li>
                            <li><a href="http://codepen.io/richiec/professor/OXpNJJ">Day 5 CodePen lecture notes</a></li>
                        </ol>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/working-with-typography/">Working with Typography</a></li>
                            <li><a href="http://learn.shayhowe.com/html-css/creating-lists/">Creating Lists</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Re-create <a href="https://dl.dropboxusercontent.com/u/2066483/fallingwater-webpage.png">this image</a> of a webpage in HTML and CSS. Use <a href="https://dl.dropboxusercontent.com/u/2066483/fallingwater-photo.jpg">this photo</a> and <a href="https://en.wikipedia.org/wiki/Fallingwater">this Wikipedia link</a>. <a href="https://dl.dropboxusercontent.com/u/2066483/fallingwater-hints.txt">Here are some hints</a> to get started. Note: Redisplaying the assignment image will result in a score of 0.</li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="sp-sm-4">
    <h2>Week 2</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Material</th>
                    <th scope="col">Assignment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>Media</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Images, Audio, Video, Frames</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/adding-media/">Adding Media</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Read &ldquo;<a href="http://learn.shayhowe.com/html-css/adding-media/">Adding Media</a>&rdquo;</li>
                            <li>Create an HTML5 webpage for the U.S. Declaration of Independence. Include an appropriate <code>&lt;h1&gt;</code> and the text of the declaration in proper HTML. Also include an image of the declaration, <a href="https://dl.dropboxusercontent.com/u/2066483/assignment_6-audio.mp3">MP3 audio of the declaration being read</a>, <a href="https://dl.dropboxusercontent.com/u/2066483/assignment_6-video.mp4">video of the American flag</a>, and an iframe Google Map of where the declaration is. Create a section where I can e-mail the president. Create a visually compelling, easy-to-read design with a linked stylesheet.</li>
                            <li>Email <code>.zip</code> file of homework in <a href="#homework">proper format</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>Layout</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Floats, positioning, flexbox</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/positioning-content/">Positioning Content</a></li>
                            <li><a href="http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning/">Detailed Positioning</a></li>
                            <li><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">A Complete Guide to Flexbox</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>Tables</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Structure, borders, striping, alignment</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/organizing-data-with-tables/">Organizing Data with Tables</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>Forms</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Structure, labels, inputs, buttons, attributes</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/html-css/building-forms/">Building Forms</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                            <li>Study for quiz</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>Responsive web design</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Quiz</li>
                            <li>Media queries, fluid grid, flexible media</li>
                        </ol>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/advanced-html-css/responsive-web-design/">Responsive Web Design</a></li>
                            <li><a href="http://alistapart.com/article/responsive-web-design">A List Apart</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="sp-sm-2">
    <h2>Week 3</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Material</th>
                    <th scope="col">Assignment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>Transforms</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Syntax, 2D/3D transforms, combinations, origins, perspectives, styles</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/advanced-html-css/css-transforms/">Transforms</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                            <li>Work on final project</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>Transitions</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Syntax, animations, keyframes</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://learn.shayhowe.com/advanced-html-css/transitions-animations/">Transitions &amp; Animations</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                            <li>Work on final project</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>Frameworks</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Bootstrap and Foundation frameworks</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="http://getbootstrap.com">Bootstrap</a></li>
                            <li><a href="http://foundation.zurb.com">Foundation</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>To be announced</li>
                            <li>Work on final project</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>Performance</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Review assignment</li>
                            <li>Concatenation, minifcation, HTTP requests</li>
                            <li></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="https://developers.google.com/speed/pagespeed/">PageSpeed</a></li>
                            <li><a href="http://refresh-sf.com">Online JavaScript/CSS/HTML Compressor</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Work on final project</li>
                            <li>Study for quiz</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>Final projects</td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Present final projects</li>
                            <li>Post-assessment quiz</li>
                            <li>Time permitting: Domains, hosting, JavaScript, jQuery, Node, NPM, Bower, Gulp, Electron, etc.</li>
                        </ol>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li><a href="https://domains.google">Google Domains</a></li>
                            <li><a href="https://pages.github.com">GitHub Pages</a></li>
                            <li><a href="http://jquery.com">jQuery</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled list-table_cell">
                            <li>Have a great summer 😎</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="sp-sm-4">
    <div class="row">
        <div class="col-md-8">
            <h2 id="homework">Homework</h2>
            <div class="alert alert-info">
                <p>Students are independently responsible for turning in homework assignments by <strong>8:30 a.m. of the next class day</strong>.</p>
            </div>
            <p>Students should create an <code>HTML CSS Honors</code> folder on their laptops that contains all of their assignments.</p>
            <p>The homework process is as follows:</p>
            <ol>
                <li>
                    <p>Inside the <code>HTML CSS Honors</code> folder, students should create a new folder for the assignment in the format <code>firstname_lastname-assignment_X</code>, where:</p>
                    <ul>
                        <li><code>firstname</code> is the student&#8217;s first name</li>
                        <li><code>lastname</code> is the student&#8217;s last name</li>
                        <li><code>X</code> is the number of the assignment</li>
                    </ul>
                    <p>For example, Richard Cornish&#8217;s first assignment would be in a folder called <code>richard_cornish-assignment_1</code>.</p>
                </li>
                <li>
                    <p>The new folder should contain the following files:</p>
                    <ul>
                        <li><code>index.html</code></li>
                        <li><code>style.css</code></li>
                    </ul>
                    <p>The <code>index.html</code> file should link to the <code>style.css</code> file with the proper <code>&lt;link&gt;</code> tag.</p>
                </li>
                <li>
                    <p>The student should create a <code>.zip</code> archive of the assignment from the folder.</p>
                    <ul>
                        <li>On Macs, <code>control</code> + click on the folder and click <code>Compress</code>.</li>
                        <li>On Windows, right click on the folder, click <code>Send to</code>, and click <code>Compressed (zipped folder)</code>.</li>
                    </ul>
                    <p>Further help on creating <code>.zip</code> files are at <a href="https://support.apple.com/kb/PH19074?locale=en_US">Apple's website</a> and <a href="https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files">Microsoft's website</a>.</p>
                </li>
                <li>E-mail the <code>firstname_lastname-assignment_X.zip</code> file as an attachment to the instructor at <a href="mailto:rich@htmlcsshonors.org">rich@htmlcsshonors.org</a> <strong>before 8:30 a.m. of the next class day</strong>.</li>
            </ol>
            <p>Students having trouble understanding the homework procedure should e-mail the instructor at <a href="mailto:rich@csshonors.org?Subject=Homework%20help">rich@htmlcsshonors.org</a> to set up a time for further instruction.</p>
        </div>
    </div>
</div>

<div class="sp-sm-2">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{% url "/materials.html" %}">&larr; Materials</a></li>
            <li class="next"><a href="{% url "/assessment.html" %}">Assessment &rarr;</a></li>
        </ul>
    </nav>
</div>

        </div>
    </div>
</div>

{% endblock %}