backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
boto==2.40.0
Cactus==3.3.3
certifi==2016.2.28
colorama==0.3.7
colorlog==2.7.0
Django==1.6.11
django-markwhat==1.5
keyring==5.7.1
markdown2==2.3.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
