*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1ad6fd, #1d62f0);
    margin: 0;
    padding: 20px 0;
    color: white;
    font-family: Georgia, serif;
    font-size: 24px;
    line-height: 1.4;
    -webkit-hyphens: auto;
}

h1 {
    margin: 0;
    padding: 15px 0 20px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 10px solid white;
    border-bottom: 2px solid white;
}

.box {
    margin: 20px auto;
    padding: 30px;
    width: 750px;
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
}

.byline {
    margin: 30px 0;
    font-size: 18px;
    text-align: center;
}

.name {
    padding-left: 10px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 20px 0;
    padding: 0;
    text-align: justify;
    text-indent: 24px;
}

img {
    margin: 10px 0 10px 30px;
    padding: 15px;
    border: 2px solid white;
    float: right;
}

.more {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.more p {
    text-align: center;
    text-indent: 0;
}

a {
    color: inherit;
}