/*!
 * Author styles
 */


/* Imports */
@import "variables.less";
@import "grid.less";


body {
    padding-top: 80px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 1.55;
    color: @text-color;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 1rem;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1, .h1 {
    margin: 0 0 2rem;
    color: @golden;
    font-family: "Din Next LT Pro", "Roboto", sans-serif;
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -2px;
    word-wrap: break-word;
    @media (min-width: 768px) {
        margin: 0 0 3rem;
        font-size: 7rem;
        line-height: 6.5rem;
    }
}

h2, .h2 {
    margin: 0 0 1rem;
    color: @golden;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -1px;
    @media (min-width: 768px) {
        margin: 0 0 3rem;
        font-size: 5rem;
        line-height: 5rem;
        & + .table, & + .table-responsive {
            margin-top: 3rem;
        }
    }
    a {
        &:link {
            color: @golden;
            transition: .1s all ease-out;
        }
        &:visited {
            color: fade(@golden, 50%);
        }
        &:hover {
            color: fade(@golden, 75%);
            text-decoration: none;
        }
    }
}

h3, .h3 {
    margin: 0 0 1rem;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0;
    color: @text-color-light;
}

h4, .h4 {
    margin: 2rem 0 .75rem;
    font-size: 2rem;
    line-height: 2rem;
    color: @text-color-lighter;
}

p, ul, ol, dl, address, ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 1rem;
}

a {
    &:link {
        color: @purple;
        transition: .1s all ease-out;
    }
    &:visited {
        color: fade(@purple, 50%);
    }
    &:hover {
        color: fade(@purple, 75%);
        text-decoration: none;
    }
}

hr {
    margin: 2rem 0;
    border-color: fade(@purple, 15%);
}

small, .small {
    color: fade(@purple, 40%);
}

body.home {
    padding-top: 0;
}

.hero {
    padding-top: 80px;
    background: @golden url(../img/hero.min.jpg) center 30px no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    @media (min-width: 768px) {
        background-position: center;
        padding-top: 100px;
    }
    @media (min-width: 992px) {
        padding-top: 200px;
    }
    h1, .h1 {
        color: inherit;
        font-size: 6rem;
        line-height: 1;
        margin-bottom: 1rem;
        @media (min-width: 768px) {
            font-size: 7.5rem;
        }
        @media (min-width: 992px) {
            font-size: 8rem;
        }
    }
    p {
        font-size: 2rem;
        @media (min-width: 768px) {
            font-size: 2.5rem;
        }
        @media (min-width: 992px) {
            font-size: 3rem;
        }
    }
    .hero-logo img {
        width: 90px;
    }
}

.lead {
    margin-bottom: .5rem;
    font-size: 2rem;
    line-height: 1.8;
    color: @text-color-light;
    text-align: center;
    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid fade(@purple, 15%);
    -webkit-font-smoothing: antialiased;
    .navbar-brand {
        color: @purple;
        &:hover, &:focus {
            color: @purple;
        }
        img {
            display: inline-block;
            margin: -2px 10px 0 0;
        }
    }
    .navbar-nav {
        > li > a {
            color: @purple;
            &:hover, &:focus {
                color: @purple;
                background-color: fade(@purple, 5%);
            }
        }
        > .active > a {
            &, &:hover, &:focus {
                color: @purple;
                font-weight: bold;
                background-color: transparent;
            }
        }
    }
    .navbar-toggle {
        border-color: transparent;
        &:hover, &:focus {
            background-color: fade(@purple, 5%);
        }
        .icon-bar {
            background-color: @purple;
        }
    }
    .navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        border-color: fade(@purple, 15%);
    }
}

.navbar-toggle {
    margin-right: 0;
}

@media (min-width: 768px) {
    .navbar-default {
        .navbar-collapse {
            padding-right: 0;
            padding-left: 0;
            border-color: transparent;
        }
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 0;
    }
}

.btn {
    &:active, &.active {
        box-shadow: none;
    }
}

.btn-default {
    &:hover, &:focus, &.focus {
        color: @purple;
        background-color: fade(@purple, 5%);
        border-color: @purple;
    }
    &:active, &.active, .open > .dropdown-toggle& {
        color: @purple;
        background-color: fade(@purple, 15%);
        border-color: @purple;
        &:hover, &:focus, &.focus {
            color: @purple;
            background-color: fade(@purple, 1%);
            border-color: @purple;
        }
    }
}

.list-table_cell li {
    padding-left: .5rem;
    padding-bottom: .75rem;
}

.pager li > a {
    &:hover, &:focus {
        color: @purple;
        background-color: fade(@purple, 5%);
        border-color: @purple;
    }
}

.table {
    font-size: 13px;
    line-height: 1.2;
    ul {
        margin-bottom: 0;
    }
    @media (min-width: 768px) {
        font-size: 15px;
    }
}

.table > tbody > tr.golden {
    & > th, & > td {
        background-color: fade(@golden, 15%);
    }
}

.alert-info {
    border-color: @golden;
    background-color: fade(@golden, 5%);
    color: @text-color-light;
    a {
        &:link {
            color: darken(@golden, 15%);
        }
        &:visited {
            color: darken(@golden, 25%);
        }
        &:hover {
            color: darken(@golden, 5%);
        }
    }
    code {
        background-color: fade(@golden, 25%);
    }
}

.img-logo-ctd {
    margin-top: 10px;
}

.img-logo-northwestern {
    width: 60%;
}

.highlight() {
    text-shadow: none;
    background-color: fade(@golden, 25%);
}

::selection {
    .highlight();
}

::-moz-selection {
    .highlight();
}

.no-collapse {
    display: inline-block;
}