<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>{% block title %}HTML &amp; CSS Honors{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HTML/CSS Honors is a summer course teaching academically talented students">
    <link rel="stylesheet" href="{% static '/static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/static/css/style.css' %}">
    <link rel="shortcut icon" href="{% static '/static/img/favicon.ico' %}">
</head>

<body>

<div class="sp-sm-4">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                              
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <header>
                            <a class="navbar-brand" href="{% url "/" %}">HTML &amp; CSS Honors</a>
                        </header>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{% if_current_page '/description.html' 'active' '' %}"><a href="{% url "/description.html" %}">Description</a></li>
                            <li class="{% if_current_page '/materials.html' 'active' '' %}"><a href="{% url "/materials.html" %}">Materials</a></li>
                            <li class="{% if_current_page '/schedule.html' 'active' '' %}"><a href="{% url "/schedule.html" %}">Schedule</a></li>
                            <li class="{% if_current_page '/resources.html' 'active' '' %}"><a href="{% url "/resources.html" %}">Resources</a></li>
                            <li class="{% if_current_page '/instructors.html' 'active' '' %}"><a href="{% url "/instructors.html" %}">Instructors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

{% block content_container %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

<script src="{% static '/static/js/jquery.js' %}"></script>
<script src="{% static '/static/js/bootstrap.js' %}"></script>
<script src="{% static '/static/js/script.js' %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>