<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}HTML &amp; CSS Honors{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HTML &amp; CSS Honors is a summer computer course that teaches academically talented students how to create websites in the languages of HTML and CSS at the Center for Talent Development at Northwestern University.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    {% if debug %}
    <link rel="stylesheet" href="{% static '/static/css/htmlcsshonors.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static '/static/css/htmlcsshonors.min.css' %}">
    {% endif %}
    <link rel="shortcut icon" href="{% static '/static/img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static '/static/img/apple-touch-icon.png' %}">
</head>

<body class="{% block body_class %}{% endblock %}">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="{% block nav_col %}col-lg-12{% endblock %}">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <header>
                        <a class="navbar-brand" href="{% url "/index.html" %}"><img src="{% block navbar_logo %}{% static '/static/img/logo.svg' %}{% endblock %}" alt="HTML &amp; CSS Honors logo"> HTML &amp; CSS Honors</a>
                    </header>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% if_current_page '/about.html' 'active' '' %}"><a href="{% url "/about.html" %}">About</a></li>
                        <li class="{% if_current_page '/materials.html' 'active' '' %}"><a href="{% url "/materials.html" %}">Materials</a></li>
                        <li class="{% if_current_page '/schedule.html' 'active' '' %}"><a href="{% url "/schedule.html" %}">Schedule</a></li>
                        <li class="{% if_current_page '/assessment.html' 'active' '' %}"><a href="{% url "/assessment.html" %}">Assessment</a></li>
                        <li class="{% if_current_page '/instructors.html' 'active' '' %}"><a href="{% url "/instructors.html" %}">Instructors</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content_container %}
<main>    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block footer_container %}
<footer>    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block footer %}
                <div class="sp-sm-2">
                    <hr>
                    <ul class="list-inline small">
                        <li class="{% if_current_page '/index.html' 'active' '' %}"><a href="{% url "/index.html" %}">Home</a></li>
                        <li class="{% if_current_page '/about.html' 'active' '' %}"><a href="{% url "/about.html" %}">About</a></li>
                        <li class="{% if_current_page '/materials.html' 'active' '' %}"><a href="{% url "/materials.html" %}">Materials</a></li>
                        <li class="{% if_current_page '/schedule.html' 'active' '' %}"><a href="{% url "/schedule.html" %}">Schedule</a></li>
                        <li class="{% if_current_page '/assessment.html' 'active' '' %}"><a href="{% url "/assessment.html" %}">Assessment</a></li>
                        <li class="{% if_current_page '/instructors.html' 'active' '' %}"><a href="{% url "/instructors.html" %}">Instructors</a></li>
                    </ul>
                </div>
                <div class="sp-sm-6">
                    <p class="small">&#169; {% now "Y" %}. HTML &amp; CSS Honors.</p>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% if debug %}
<script src="{% static '/static/js/htmlcsshonors.js' %}"></script>
{% else %}
<script src="{% static '/static/js/htmlcsshonors.min.js' %}"></script>
{% endif %}
{% block scripts %}
{% endblock %}

</body>
</html>